@CHARSET "UTF-8";

body {
	background-image: url("img/header_bck.png");
	background-repeat: repeat-x;
	background-color: #F5F7FA;
}

table, th, td {
	border: 0px;
	padding: 0px;
	border-collapse: collapse;
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
}

td.menu {
	background-image: url(img/menu.png);
	border: 0px;
	padding: 0px;
	border-collapse: collapse;
}

td.logo {
	background-image: url(img/logo.png);
	border: 0px;
	padding: 0px;
	border-collapse: collapse;
}

td.text {
	font-family: Helvetica, sans-serif;
	font-size: 15pt;
	color: #49A898;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 9pt;
	color: black;
}

    .box{ 
      background-color: #0777e7;
    }
    .box:after:hover{
      background-color: #7cc7ff;
    }
    
    .box_red{
    background-color: red;
    }