<server>

    <featureManager>
        <feature>webProfile-7.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>

    <application name="TestJavaMongo" context-root="/TestJavaMongo" location="${appLocation}" type="war"/>

</server>
